body.UserAccount {
    background: black!important;
}

.mainbody {
    background:#f0f0f0;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-left: -15px;
  margin-right: -15px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.brand_network {
    color: #9D9D9D;
    float: left;
    position: absolute;
    left: 70px;
    top: 30px;
    font-size: smaller;
}

.post-content {
    margin-left:58px;
}

.badge-important {
    margin-top: 3px;
    margin-left: 25px;
    position: absolute;
}

<<<<<<< HEAD
body.UserAccount {
    margin: 0;
    padding: 0;
    background:#eee;
    font-family: roboto;
    display:flex; /* You delete it on your web page */
    justify-content:center;/* and this - delete */
    background: url('https://static.pexels.com/photos/573241/pexels-photo-573241.jpeg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
=======
>>>>>>> 74b1252011ef143c4eb14517de9d8e0fafb2f8b2

input[type=checkbox]+span {
    /* your style goes here */
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 4px;
    background-color: gray;        
}

/* active style goes here */
input[type=checkbox]:checked+span {
    background-color: red;
}

input[type=submit]:submit+span {
    background-color: red !important;
}
.leftMargin{

}
.boldInput {
    margin:-10px auto;
    font-weight:bold;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
    color: #F05F40;
    background-color:transparent;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px
}

.bold {
    font-weight:bold;
}

.name {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
    
    padding-left: 10px;
    
}

.form-group {
    margin:0;
    padding:20px ;

    /* &:first-child { border-color: transparent; } */
}
.form-group:first-child {
    border-color:transparent;
}
.form-control {
  padding: 0px 10px 0 20px;
  margin-top: 10px;
  color: #333;
  font-size: 19px;
  font-weight: 500;
    border: 3px solid #555;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height:10px;
    height: auto;
    border-radius: 50px 0  0 50px !important;
}

.form-control :focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: transparent;

}



.conter  
{  
    background:rgba(255, 255, 255, 0.479);  
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
    border:1px solid rgba(202, 194, 194, 0.836);
    padding: 0px auto
}  
.conter h1  
{  
    color: #F05F40;
    height:20px;  
    font-size:25px;  
    line-height:20px;  
    text-indent:5px;  
    margin-top:10px; 
    margin-left:10px;   
    margin-bottom: 20px
}  

.btn {
    font-size: 12px !important;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
}

.btn-primary {
    background-color: #F05F40;
    border-color: #F05F40; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important; 
}

.btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important; 
}

.card-title {
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
    text-align: center;
    font-weight: 700;
    margin: auto
}

.namestyle {
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; 
    text-align: center;
    font-weight: 700;
    margin: auto
}

.leftMargin {
    margin-left:20px
}

.watched {
    color: gray !important
}

.uploadProfile:hover{
    background-color: blue!important;
}